@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url('https://fonts.googleapis.com/css?family=VT323');

$text-color:          hsl(98, 100%, 45%);
$bg-color:            hsl(98, 100%, 3%);
$text-highlight:  hsl(98, 100%, 65%);

$font: "VT323", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
