body {
  background: $bg-color;
  color: $text-color;
  font-family: $font;
  font-size: 28px;

  height: 100%;
  width: 100%;

  overflow: hidden;

}

@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}

.background {

  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 160px;
  opacity: 0.3;
}

// https://stackoverflow.com/a/4407335/9667199
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

input:focus {
  outline: none;
}

.chatbar {
  background: $bg-color;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message {
  background: $bg-color;
  border: none;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  color: inherit;
}

.chatbar-username {
  background: $bg-color;
  border: none;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  font-weight: bold;
  color: inherit;
}

.chatbar-message {
  flex: 8;
  text-shadow: inherit;
}

.chatbar-username {
  flex: 2;
  text-shadow: inherit;
}

.message {
  display: flex;
  // padding: 5px;
  padding: 0px 5px;
}

.message.system,
.message-timestamp {
  font-style: italic;
  padding: 0px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 0px 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  overflow: visible;
  word-wrap: normal;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.num-users {
  position: absolute;
  right: 10px;
  line-height: 60px;
}
