body {
  background: $bg-color;
  color: $text-color;
  font-family: $font;
  font-size: 18px;
  margin: 70px 0;


}

@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}

.chatbar {
  background: $bg-color;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message {
  background: $bg-color;
  border: 1px solid $highlight-b;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  color: $highlight-b;
  text-shadow: $glow-highlight-b;
}

.chatbar-username {
  background: $bg-color;
  border: 1px solid $highlight-a;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  color: $highlight-a;
  text-shadow: $glow-highlight-a;
  font-weight: bold;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system,
.message-timestamp {
  font-style: italic;
  padding: 5px 20px;
  text-shadow: $glow-plain;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
  text-shadow: $glow-plain;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  color: $highlight-a;

  text-shadow: $glow-highlight-a;
  background: $bg-color;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 200%;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.num-users {
  position: absolute;
  right: 10px;
  line-height: 60px;
}
