html {

  background-color: black;
  height: 100%;
}

body {

  box-sizing: border-box;

  border: 1px solid $bg-color-heading;

  background: $bg-color;
  color: $text-color;
  font-family: $font;
  font-size: 28px;

  position: relative;

  overflow: hidden;

  margin-left: auto;
  margin-right: auto;

  top: 50%;
  transform: translateY(-50%);

  width: 80ch;
  height: 40rem;

}

@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}

.background {

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 256px;
  opacity: 0.3;
}

// https://stackoverflow.com/a/4407335/9667199
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

input:focus {
  outline: none;
}


header {

  color: $text-color-heading;
  background-color: $bg-color-heading;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  display: flex;

}

.connected-to {
  flex: 8;
  margin-left: 1ch;
}

.num-users {
  flex: 2;
  text-align: right;
  margin-right: 1ch;
}

.messages {

  position: absolute;
  top: 2rem;
  bottom: 2rem;
  left: 0;
  right: 0;

  padding-left: 1ch;
  padding-right: 1ch;

  overflow-y: auto;

  width: calc(100% - 2ch);

}

.messages::-webkit-scrollbar {
  background-color: $bg-color-heading;
}

.messages::-webkit-scrollbar-thumb {
  background-color: $text-color-heading;
}



.message {
  display: flex;
  justify-content: space-between;
}

.message.system,
.message-timestamp {
  font-style: italic;
}

.message-username {
  overflow: hidden;
}

.message-content {
  flex: 6;
  overflow: auto;
  word-wrap: normal;
  min-width: 0;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.message-timestamp {
  flex: 2;
  text-align: right;
}


.chatbar {

  color: $text-color-heading;
  background-color: $bg-color-heading;
  display: flex;

  position: absolute;

  width: 100%;
  bottom: 0;

}

.chatbar-message {
  background: inherit;
  border: none;
  display: block;
  color: inherit;
}

.chatbar-username {
  background: inherit;
  border: none;
  display: block;
  color: inherit;

  margin-left: 1ch;
}

.chatbar-message {
  flex: 8;
  text-shadow: inherit;
  margin-right: 1ch;
}

.chatbar-username {
  flex: 2;
  text-shadow: inherit;
}

img {

  max-width: 50%;
  object-fit: contain;

  transform: scale(0.01) scale(100);

  image-rendering: pixelated;

  filter: sepia(100%) hue-rotate(40deg) saturate(300%);

}
