// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");


$text-color:          hsl(60,  30%, 96%);
$bg-color:            hsl(70,   8%, 15%);
$text-color-magenta:  hsl(338, 95%, 56%);
$text-color-blue:     hsl(190, 81%, 67%);

$font-main: 'Electrolize', 'Open Sans', sans-serif;
$font-alt: 'Titillium', 'Open Sans', sans-serif;
